/* General  */

section {
  padding-top: 110px;
  margin-top: -110px;
}

body {
  background-color: #f0ebce;
}

hr {
  margin: 50px 35%;
}

.row:before,
.row:after {
  display: none;
}

/* Nav bar */

.navbar a {
  color: #f0ebce;
}

.navbar-brand {
  font-size: x-large;
  font-weight: bold;
}

.navbar a:hover {
  color: #aa8b56;
  transition: color 0.2s ease-in-out;
}

.navbar a:focus {
  color: #f0ebce;
}

.navbar-item-spacing {
  padding: 0 10%;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* About me  */

.about-me {
  padding: 120px 10% 0;
  margin: 0;
}

.about-me-text {
  padding: 40px 0 0 0;
}

.profile-pic {
  border-radius: 50%;
  width: 250px;
}

.profile-pic-div {
  text-align: center;
}

/* Projects */

.latest-projects {
  padding: 0 10%;
  margin-bottom: 80px;
}

.latest-project-cards {
  margin: 0;
}

.latest-projects-text {
  /* To fix iOS device display issue */
  padding: 0;
  margin: 0;
}

/* Project cards */

.card {
  margin: 20px auto;
  color: #395144;
  background-color: #eeeeeeff;
}

.card-container {
  padding-left: 0;
}

.btn-primary {
  color: white;
  background-color: #aa8b56ff !important;
  border: none;
}

.btn-primary:hover {
  color: white;
  background-color: #395144 !important;
}

.btn-primary:focus {
  color: white;
  background-color: #aa8b56ff !important;
}

.btn-primary:active {
  color: white;
  background-color: #aa8b56ff !important;
}

/* Footer */

footer {
  background-color: white;
  height: 150px;
  text-align: center;
}

footer p {
  margin: 0;
  line-height: 150px;
}
