
.navbar a {
    color: #F0EBCE;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;   
}


.navbar a:hover {
    color:#AA8B56;
    transition: color 0.2s ease-in-out;
}

.navbar a:focus{color:#F0EBCE;}

body {
    background-color: #F0EBCE;
}

.profile-pic {
    border-radius: 50%;
}

.profile-pic-div{
    text-align: center;
    padding-bottom: 50px;
}

.intro-text-div{
    /* padding-left: 20%; */
    margin-top: 5%;
}

.about-me {
    padding: 5% 10% 0;
}

.latest-projects{
    margin: 3% 8% 3% 20%;
}


.project-list {
    margin: auto;
}

.card {
    margin: 1%;
}
